torch==2.1.0+cpu
torchvision==0.16.0+cpu
torchaudio==2.1.0+cpu
-f https://download.pytorch.org/whl/torch_stable.html

torchsde
einops
transformers>=4.28.1
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
aiohttp
pyyaml
Pillow
scipy
tqdm
psutil

#non essential dependencies:
kornia>=0.7.1
spandrel
soundfile
